<aside class="hidden md:block w-64 flex-none">
  <a
    href="/"
    class="inline-flex justify-between gap-4 hover:bg-subtle/50 transition-colors mt-3"
    ><!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
    <svg
      width="50px"
      height="50px"
      class="my-auto"
      viewBox="0 0 300 300"
      version="1.1"
      id="svg1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <defs id="defs1"></defs>
      <g id="layer2">
        <rect
          style="
            opacity: 1;
            fill: #b4637a;
            fill-opacity: 1;
            stroke: #b4637a;
            stroke-width: 2.02726;
            stroke-dasharray: none;
            stroke-opacity: 1;
          "
          id="rect3"
          width="114.72939"
          height="110.92105"
          x="120.82121"
          y="-18.898195"
          transform="rotate(45)"
        ></rect>
        <rect
          style="
            fill: #56949f;
            fill-opacity: 1;
            stroke: #56949f;
            stroke-width: 2.02717;
            stroke-dasharray: none;
            stroke-opacity: 0.0392157;
          "
          id="rect3-5"
          width="114.72939"
          height="110.92105"
          x="194.88144"
          y="-90.162048"
          transform="rotate(45)"
        ></rect>
      </g>
    </svg>
    <span class="italic text-[2.5em] select-none -translate-y-[6px]"
      >youwen wu</span
    ></a
  >
  <nav class="space-y-4 mt-4">
    <ul class="space-y-2 text-love text-2xl">
      <li>
        <a class="hover:bg-surface transition-colors" href="/about"
          >About</a
        >
      </li>
      <li>
        <a class="hover:bg-surface transition-colors" href="/now">Now</a>
      </li>
      <li>
        <a class="hover:bg-surface transition-colors" href="/cv">CV</a>
      </li>
    </ul>
    <div class="space-y-1">
      <p class="all-smallcaps text-lg">Hacking</p>
      <ul class="space-y-2 text-subtle text-base">
        <li>
          <a
            class="hover:bg-surface transition-colors"
            href="https://functor.systems"
            >functor.systems</a
          >
        </li>
        <li>
          <a
            class="hover:bg-surface transition-colors"
            href="/software/epilogue"
            >How this site was made</a
          >
        </li>
        <li>
          <a class="hover:bg-surface transition-colors" href="/tools"
            >Favorite tools</a
          >
        </li>
        <li>
          <a
            class="hover:bg-surface transition-colors"
            href="/writing/anatomy-of-a-nixos-module"
            >Anatomy of a NixOS module</a
          >
        </li>
      </ul>
    </div>
    <div class="space-y-1">
      <p class="all-smallcaps text-lg">Math</p>
      <ul class="space-y-2 text-subtle text-base">
        <li>
          <a
            class="hover:bg-surface transition-colors"
            href="/math/three-isomorphism-theorems"
            >Three isomorphism theorems</a
          >
        </li>
      </ul>
    </div>
    <div class="space-y-1">
      <p class="all-smallcaps text-lg">Fun</p>
      <ul class="space-y-2 text-subtle text-base">
        <li>
          <a
            class="hover:bg-surface transition-colors"
            href="/misc/fav-songs"
            >Favorite songs</a
          >
        </li>
      </ul>
    </div>
    <div class="space-y-1">
      <p class="all-smallcaps text-lg">Other</p>
      <ul class="space-y-2 text-subtle text-base">
        <li>
          <a class="hover:bg-surface transition-colors" href="/faqs"
            >Frequently asked questions</a
          >
        </li>
        <li>
          <a class="hover:bg-surface transition-colors" href="/impressum"
            >Impressum</a
          >
        </li>
        <li>
          <a
            class="hover:bg-surface transition-colors"
            href="/about-this-site"
            >About this site</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="mt-6">
    <a href="/buttons" class="hover:brightness-75"
      ><img class="w-20" src="/static/logo/button.png" alt="my button"
    /></a>
  </div>
</aside>
